---

---
<footer class="bg-[#45455F]/28 text-[#93FF57] p-8 font-bold mx-auto text-sm rounded-xl max-w-[1240px]">
  <div class="mx-auto flex flex-row items-start gap-12">

    <!-- Imagen del búho a la izquierda -->
    <div>
      <img src="/disbeltobuhofooter.svg" class="h-64 pl-6" alt="búho" />
    </div>

    <!-- Menú + Contacto alineados en columna -->
    <div class="flex flex-col gap-6 pl-20">
      <!-- MENÚ -->
      <div id="menu-footer">
        <nav class="flex flex-col gap-1">
          <span class="text-[#FFACE4] text-xl">///menu</span>
          <a href="#HEADER" class="pl-6 text-xl text-[#93FF57]">&lt;inicio&gt;</a>
          <a href="#WORKS" class="pl-6 text-xl text-[#93FF57]">&lt;portfolio&gt;</a>
          <a href="#" class="pl-6 text-xl text-[#93FF57]">&lt;servicios&gt;</a>
        </nav>
      </div>

      <!-- CONTACTO -->
      <div id="contact-footer">
        <div class="flex flex-col gap-1">
          <span class="text-[#FFACE4] text-xl">///contact</span>
          <a class="pl-6 text-xl text-[#93FF57]">&lt;email&gt; disbeltoagency@gmail.com &lt;/email&gt;</a>
          <a class="pl-6 text-xl text-[#93FF57]">&lt;cel&gt; +54 11 3940 3675 &lt;/cel&gt;</a>
          <a class="pl-6 text-xl text-[#93FF57]">&lt;social&gt; linkedin/ejemplo &lt;/social&gt;</a>
        </div>
      </div>
    </div>

  </div>
</footer>