---

---
<footer class="bg-[#45455F]/25 text-[#93FF57] p-6 font-mono text-sm flex flex-col gap-6 rounded-xl items-center justify-center text-center">
  <div class="flex flex-col gap-6 w-full items-center">
    <div id="menu-footer">
      <nav class="flex flex-col gap-1">
        <span class="text-[#FFACE4] text-xl">///menu</span>
        <a href="#HEADER" class="pl-4 text-xl">&lt;inicio&gt;</a>
        <a href="#WORKS" class="pl-4 text-xl">&lt;portfolio&gt;</a>
        <a href="#" class="pl-4 text-xl">&lt;servicios&gt;</a>
      </nav>
    </div>

    <div id="contact-footer">
      <div class="flex flex-col gap-1">
        <span class="text-[#FFACE4] text-xl">///contact</span>
        <a class="pl-4 text-xl">&lt;email&gt; disbeltoagency@gmail.com &lt;/email&gt;</a>
        <a class="pl-4 text-xl">&lt;cel&gt; +54 11 3940 3675 &lt;/cel&gt;</a>
        <a class="pl-4 text-xl">&lt;social&gt; linkedin/ejemplo &lt;/social&gt;</a>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center mt-6">
    <img src="/disbeltobuhofooter.svg" class="h-72 mr-4">
  </div>
</footer>