---

---
<footer class="text-green-500 p-4">
  <div id="menu-footer">
    <nav>
      <a href="#HEADER" class="mr-4">&lt;inicio&gt;</a>
      <a href="#WORKS" class="mr-4">portfolio&gt;</a>
      <a href="#">servicios&gt;</a>
    </nav>
  </div>
</footer>
