<header class="max-w-[1250px] mx-auto flex items-center justify-between py-2 px-4 mt-6">
     <div class="flex items-center">
         <a href="/">
             <img src="/DisbeltoIcon.svg" alt="Disbelto Agency" class="h-8"/>
         </a>
     </div>
     <nav class="flex items-center gap-8">  <a href="/portfolio">PORTFOLIO</a>
         <a href="/servicios">SERVICIOS</a>
         <a href="/nosotros">NOSOTROS</a>
         <a href="/contacto">CONTACTO</a>
         <a href="/empezar" 
             class="bg-white text-black py-2 px-4 rounded-full shadow-md font-medium">EMPEZAR</a>
     </nav>
 </header>