---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/Disbelto Favicon.svg" />
		<meta name="generator" content="{Astro.generator}" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<Header/>
			<main style="background: url('/disbelto_buho.png') no-repeat center top / cover; width: 100vw; height: 100vh;">
				<slot />
			</main>		 
		<Footer/>
	</body>
</html>
